
header{
    padding: 50px 100px;
    text-align: center;
    background-color: #999;
    font-size: 32px;
    font-family: sans-serif;
    color: #fff;
}
main{
    background-color: green;
    font-size: 38px;
    text-align: center;
    font-family: sans-serif;
    color: #fff;
    padding: 50px 100px;

}footer{
    padding: 50px ;
    text-align: center;
    background-color: blue;
    font-size: 32px;
    font-family: sans-serif;
    color: #fff;
}